<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Error Page</title>
<link rel="stylesheet" th:href="@{/css/style404.css}">
</head>
<body>
<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>Oops!</h1>
			</div>
			<h2>404 - Page not found</h2>
			<p>The page you are looking for might have been removed had its
				name changed or is temporarily unavailable.</p>
				<a href="/vendor/list">Go To
				Homepage</a>
			
		</div>
	</div>
</body>
</html>