<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/fontawesome/css/all.css}">
  <link rel="stylesheet" th:href="@{/css/select2.min.css}">
  <link rel="stylesheet" th:href="@{/css/select2.min2.css}">
<!--  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />-->
  <!--  <link rel="stylesheet" th:href="@{https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css}">-->
</head>

<body>
  <div class="container px-5 py-3">
    <div class="row rounded-top py-2" style="background-color: #bcbcbc">
      <div class="close-button " style="padding: 5px; border:black solid 1px; 
             width: 30px; border-radius: 7px;
             background-color: white;
             margin-left: 20px;
             height: 27px;">
        <div class="h-100 w-100 d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(129, 190, 236, 1), rgba(80, 130, 167, 1)); 
                box-shadow: 0px 1px 4px 1px;">
          <i class="fa-solid fa-minus" style="color: #ffffff;"></i>
        </div>
      </div>
      <div class="col">
        <h5 class="m-0" style="color: #005362">List Vendor Resources...</h5>
      </div>
    </div>
    <div class="row px-3 py-4" style="background-color: #e3e3e3 ;">
      <form th:action="@{/vendor/filter}" class="m-2" style="height:95px;">
        <div class="row" style="height:45px;">
          <div class="" style="width: 11%;">Vendor Name: </div>
          <div style="width: 220px;">
            <select id="inputName" type="text" class="js-select2 form-select py-0" name="vdName">
              <option selected value=""> -----------All---------- </option>
              <option th:each="c : ${nameFilter}" th:value="${c.vendorName}" th:text="${c.vendorName}">
              </option>
            </select>
          </div>
          <div style="width: 110px;">
            <button type="submit" class="w-100">Filter</button>
          </div>
        </div>
        <div class="row">
          <div style="width: 11%;">Country: </div>
          <div style="width: 220px;">
            <select id="inputCountry" type="text" class="js-select2 form-select py-0" name="ctry">
              <option selected value=""> -----------All---------- </option>
              <option class="countryValue" th:each="c : ${countries}" th:value="${c.countryName}"
                th:text="${c.countryName}"></option>
            </select>
          </div>
        </div>
      </form>

      <div class="table-responsive mb-3">
        <div th:if="${udError}" class="col-6 text-center">
          <p th:text="${udError}" class="error-message text-danger"></p>
        </div>
        <table class="table-active table-bordered table-striped border-success text-center col-7">
          <thead style="background-color: #bcbcbc;">
            <tr class="text-white">
              <th class="col-4">Vendor Name</th>
              <th class="col-3">Country</th>
              <th class="col-1">Staff Strength</th>
              <th class="col-2">Number Of Working Days (Per week )</th>
            </tr>
          </thead>
          <tbody class="vendorBody">
            <tr th:if="${mest} != null">
              <td colspan="4" th:text="${mest}" class="text-danger"></td>
            </tr>
            <tr th:each="vendor,index : ${vendors}" th:class="${vendor.vendorID.equals(id)} ? 'focusID' : ''">
              <td class="text-start px-5">
                <a th:href="@{/vendor/update/{id}(id=${vendor.vendorID})}" th:text="${vendor.vendorName}"></a>
              </td>
              <td class="text-start px-5" th:text="${vendor.country.countryName}"></td>
              <td th:text="${vendor.staffStrength}"></td>
              <td th:text="${vendor.numberOfWorkingDays}"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col">
        <div class="col-7">
          <div class="row">
            <div class="col-2">
              <form><a th:href="@{/vendor/add}"><button type="button" class="w-100 h-100">Add</button></a></form>
            </div>
            <div class="col-10">
              <nav>
                <ul class="pagination pagination-sm m-0 justify-content-end">
					
                  <li class="page-item ms-1">
                    <a th:href="@{/vendor/list(page=${0})}" class="page-link text-secondary rounded-0" aria-current="page">
                      <i class="fa-solid fa-backward-step"></i>
                    </a>
                  </li>

                  <li class="page-item ms-1">
                    <a class="page-link text-secondary" href="#" aria-label="Previous"
                      th:href="@{${crPage > 0} ? @{/vendor/list(page=${crPage-1})} : @{#}}">
                      <i class="fa-solid fa-backward"></i>
                    </a>
                  </li>
                  <th:block th:if="${ttPage > 0}">
                    <th:block th:each="i : ${#numbers.sequence(0, ttPage-1)}">
                      <li class="page-item ms-1">
                        <a class="page-link" th:classappend="${crPage == i} ? 'activez' : ''"
                          th:href="@{/vendor/list(page=${i})}"><span th:name="pagez" th:text="${i + 1}"></span></a>
                      </li>
                    </th:block>
                  </th:block>
                  <li class="page-item ms-1">
                    <a class="page-link text-secondary" href="#" aria-label="Next"
                      th:href="@{${crPage < ttPage-1} ? @{/vendor/list(page=${crPage+1})} : @{#}}">
                      <i class="fa-solid fa-forward"></i>
                    </a>
                  </li>

                  <li class="page-item ms-1">
                    <a class="page-link text-secondary rounded-0" th:href="@{/vendor/list(page=${ttPage-1})}">
                      <i class="fa-solid fa-forward-step"></i>
                    </a>
                  </li>

                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Bootstrap JavaScript Libraries -->
  <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
  <script th:src="@{/jQuery/code.jquery.com_jquery-3.7.0.min.js}"></script>
  <!--<script th:src="@{https://code.jquery.com/ui/1.13.0/jquery-ui.js}"></script>-->
  <script th:src="@{/jQuery/poper.min.js}"></script>
  <script th:src="@{/jQuery/select2.min.js}"></script>
  <script th:src="@{/jQuery/mock.js}"></script>
</body>

</html>